<div class="container my-5 py-5 z-depth-1">
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
  
  
          <div class="col-md-6 card shadow w-100" style="height:650px;">
  
            <!-- Default form register -->
  
            <p class="h4 mb-4">Créer une Formation</p>

            <div *ngIf="test==true" class="alert alert-info" role="alert">
              {{msj}}            </div>
              <div *ngIf="test==false" class="alert alert-danger" role="alert">
                {{msj}}            </div>
                
  
            <div class="form-row mb-4">
              <div class="col">
                <!--Cin
                <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="CIN°" [(ngModel)]="Cin" style="margin-bottom:20px;">
              </div>
              <div class="col ">-->
                <!-- username -->
                <input type="text" id="" class="form-control"
                  placeholder="Nom Formation" [(ngModel)]="nomFormation">
              </div>
            </div>
            <!-- E-mail -->
              <input type="date"  style="padding-top: 20px !important; padding-bottom: 20px !important;" id="" class="form-control mb-4"
              placeholder="Date de debut"  [(ngModel)]="Ddebut">
              <input type="date"  style="padding-top: 20px !important; padding-bottom: 20px !important;" id="" class="form-control mb-4"
              placeholder="Date fin" [(ngModel)]="Dfin">
              <input type="text" id="" class="form-control mb-4"
              placeholder="Prix" [(ngModel)]="Prix"  (keypress)="keyPressNumbers($event)">
              <input type="text" id="" class="form-control mb-4"
              placeholder="Nombre d'heures"  (keypress)="keyPressNumbers($event)" [(ngModel)]="nbreHeures">
              <input type="text" id="" class="form-control mb-4"
              placeholder="Specialte" [(ngModel)]="specialite">
              <input type="text" id="" class="form-control mb-4"
              placeholder="Certificat" [(ngModel)]="Certif">
              <p-dropdown [options]="ListFormateurs" placeholder="Formateur" [(ngModel)]="formateur" style="width: 20px !important ;"  optionLabel="username"></p-dropdown>
          
            <button class="btn btn-success mt-2" 
            [disabled]="!nomFormation||!Ddebut||!Dfin||!Prix||!nbreHeures||!specialite ||!Certif ||!formateur " 
            type="submit" (click)="ajout();">Confirmer</button>
           
          </div>
  
        </div>
        <!--Grid column-->
  
      <!--Grid row-->
  
  
    </section>
    <!--Section: Content-->
  
  
</div>
