  <p class="h4 mb-4 font-extrabold" style="font-weight: 800!important; margin-top: 200px; margin-left: 20px;">Liste des etudiants</p>
  <div style="overflow-x:auto ;">
  <table class="table  bg-white" style="overflow-x:auto !important;" >
  
    <thead class="bg-light">
      <tr >
        <th>Username</th>
        <th>E-mail</th>
        <th>CIN°</th>
        <th>Numero Telephone</th>
        <th>Nom Formations</th>

        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let x of tab">
        <td >
          <!--<div class="d-flex align-items-center">-->
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
                <p class="fw-bold mb-1" style="margin-left:70px ;margin-top: -44px;">{{x.username}}</p>
  
            <!--<div >
              <p class="fw-bold mb-1"></p>
            </div>
          </div>-->
        </td>
        <td>{{x.email}}
          <!--<p class="text-muted mb-0"></p>-->
  
        </td>
        <td>
         <!-- <span class="badge badge-success rounded-pill d-inline">Active</span>-->
         {{x.cin}}
        </td>
        <td>{{x.numtel}}</td>
        <td>{{x.formations.nomFormation}}</td>

        
        <td><button  class="btn btn-dark" [routerLink]="['/dashrh/updateetudiants/',x.id]">Update</button></td>
  
      </tr>
  
    </tbody>
  </table>
</div>
  <!-- MDB -->
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"
  ></script>
  