<div class="container my-5 py-5 z-depth-1">
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
  
  
          <div class="col-md-6 card shadow w-100 pt-4" style="height:700px;">
            <!-- Default form register -->
            <p class="h4 mb-4">Créer un RH</p>
            <div *ngIf="msErr" class="alert alert-danger" role="alert">
                    {{msjErr}}           
            </div>
              <div class="form-row mb-4">
               <div class="col">
                
                <input type="text" id="" class="form-control"
                  placeholder="Username" [(ngModel)]="Username">
              </div>
            </div>
            <!-- E-mail -->
              <input type="text" id="" class="form-control mb-4"
              placeholder="E-mail" [(ngModel)]="emailRH">
              <input type="number" id="" class="form-control mb-4"
              placeholder="NumTel" [(ngModel)]="Numtel">
              <input type="text" id="" class="form-control mb-4"
              placeholder="Sexe" [(ngModel)]="Sexe">
              <input type="text" id="" class="form-control mb-4"
              placeholder="Diplome" [(ngModel)]="Diplome">
              <input type="text" id="" class="form-control mb-4"
              placeholder="Annee experience" [(ngModel)]="AnExperience">
              <input type="date" id="" class="form-control form-group mb-4 pt-2 pb-2" style="height:30px !important ;"
              placeholder="Date inscript" [(ngModel)]="Dateinscription">
               <input type="number" id="" class="form-control mb-4"
              placeholder="CIN°" [(ngModel)]="Cin">
              <input type="text" id="" class="form-control mb-4"
              placeholder="Permis" [(ngModel)]="permis">
              <input type="text" id="" class="form-control mb-4"
              placeholder="Location" [(ngModel)]="Location">
            
            <button class="btn btn-info my-5" type="submit" (click)="ajout()">Confirmer</button>
          </div>
  
  
  
        </div>  
  
    </section>
    <!--Section: Content-->
  
  
</div>
<div *ngIf="succ" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {{msjErr}}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
