<!--<div class="card" style="width:19rem; margin-top: 200px; margin-left: 20px;">
    <img src="assets/images/cours.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width:19rem; margin-top: -350px; margin-left: 40px;">
    <img src="assets/images/cours.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>-->
  <div> <h2 style="margin-top: 100px; margin-left:400px;">Que voulez-vous apprendre aujourd'hui?</h2></div>
  <section class="pt-5 pb-5">
    <div class="container" style="margin-top: 50px;">
      <div class="row">
        <div class="col-6">
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                  <i class="fas fa-search"></i>
                </span>
              </div>
          <h3 class="mb-3"> </h3>
        </div>
      <!--  <div class="col-6 text-right">
          <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
            <i class="fa fa-arrow-left"></i>
          </a>
          <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
            <i class="fa fa-arrow-right"></i>
          </a>
        </div>-->
        <div class="col-12">
          <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
  
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
  
                  <div class="col-md-4 mb-3">
                    <div class="card" >
                      <img class="img-fluid" alt="100%x280" src="assets/images/flutter.png" >
                      <div class="card-body">
                        <h4 class="card-title">Basics of Flutter</h4> 
                      
                        
                        <p class="card-text"style="color:gray ;">Cours d'introduction aux bases de Flutter.</p> 
                         <hr style="width: 30px; margin-left:120px;">
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>              
                          <button class="" style="margin-top: 20px;">Continuer <i class="fas fa-chevron-right"></i></button>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3" >
                    <div class="card" >
                      <img class="img-fluid" alt="100%x280" src="assets/images/cours.png" style="height: 262px;" >
                      <div class="card-body">
                        <h4 class="card-title">Basics of React-js</h4>
                        <p class="card-text" style="color:gray ;">Cours d'introduction aux bases de React-js et du Framework.</p>
                        <hr style="width: 30px; margin-left:120px;">

                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        <button class="" style="margin-top: 20px;">Continuer <i class="fas fa-chevron-right"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card"  >
                      <img class="img-fluid" alt="100%x280" src="assets/images/andr.png" style="height: 280px;" >
                      <div class="card-body">
                        <h4 class="card-title">Basics of Android</h4>
                        <p class="card-text"style="color:gray ;">Cours d'introduction aux bases d'Android.</p>
                        <hr style="width: 30px; margin-left:120px;">

                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        <button class="" style="margin-top: 20px;">Continuer <i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
     <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>     
