<div>
  <h2 style="margin-top: 100px; margin-left:400px;">Que voulez-vous apprendre aujourd'hui?</h2>
</div>
<section class="pt-5 pb-5">
  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col-6">
        <div class="input-group rounded">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
          <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
        </div>
        <h3 class="mb-3"> </h3>
      </div>

      <div class="col-12">
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/640px-Angular_full_color_logo.svg.png">
                    <div class="card-body">

                      <h4 class="card-title">Nom Formation : <b>{{nomF}}</b></h4>


                      Specialité : <b>{{spec}}</b> <br>
                      Nombre d'heures:<b> {{nbrheurs}} Heures</b>
                      <br>
                      Formateur : <b><i> {{nomforma}}</i></b>
                      <br>
                      <b>Prix : </b> <span class="badge bg-danger"><i>{{prix}}</i> DT</span>

                      <div class="progress mt-2" style="height: 3px;">
                      </div>
                      <button class="" style="margin-top: 20px;">Continuer <i class="fas fa-chevron-right"></i></button>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>