img {
    filter: brightness(50%);

}
button{
    background-color: white; 
    color: rgb(37, 103, 81); 
    border: 2px solid #008CBA;
    width: 120px;
    height: 50px;
    border-radius: 29px;
  }
 