<p class="h4 mb-4 font-extrabold" style="font-weight: 800!important; margin-top: 200px; margin-left: 20px;">Liste des
  Formateurs</p>
<div style="overflow-x:auto !important;">
  <table class="table  bg-white">

    <thead class="bg-light">
      <tr>
        <th>Username</th>
        <th>E-mail</th>
        <th>NumtelRH</th>
        <th>SexeRH</th>
        <th>Diplome</th>

        <th>AnExperience</th>
        <th>DateInscrit</th>
        <th>Cin</th>
        <th>Location</th>


        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of tab">
        <td>
          <!--<div class="d-flex align-items-center">-->
          <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px"
            class="rounded-circle" />
          <p class="fw-bold mb-1" style="margin-left:70px ;margin-top: -44px;">{{x.username}}</p>

          <!--<div >
              <p class="fw-bold mb-1"></p>
            </div>
          </div>-->
        </td>
        <td>{{x.email}}
          <!--<p class="text-muted mb-0"></p>-->

        </td>
        <td>{{x.numtel}}
          <!--<p class="text-muted mb-0"></p>-->

        </td>
        <td>{{x.sexe}}
          <!--<p class="text-muted mb-0"></p>-->

        </td>
        <td>{{x.diplome}}
          <!--<p class="text-muted mb-0"></p>-->

        </td>
        <td>{{x.anExperience}}
          <!--<p class="text-muted mb-0"></p>-->

        </td>
        <td>{{x.dateinscription}}
          <!--<p class="text-muted mb-0"></p>-->

        </td>
        <td>{{x.cin}}
          <!--<p class="text-muted mb-0"></p>-->
        </td>
        <td>{{x.location}}
          <!--<p class="text-muted mb-0"></p>-->
        </td>
        <td><button class="btn btn-dark btn-rounded" [routerLink]="['/dashrh/updateFormateur/',x.id]">Update</button>
        </td>


    </tbody>
  </table>
</div>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>