<p class="h4 mb-4 font-extrabold" style="font-weight: 800!important; margin-top: 200px; margin-left: 20px;">Liste des
  Formations</p>
<div style="overflow-x:auto !important;">

  <table class="table  bg-white" style="overflow-x:auto;">

    <thead class="bg-light">
      <tr>
        <th>nom formation</th>
        <th>nom formateur</th>
        <th>Date debut</th>
        <th>Date fin </th>
        <th>prix</th>
        <th>nbre heure</th>
        <th>specialité</th>
        <th>Certif</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of tab">
        <td>
          <!--<div class="d-flex align-items-center">-->
          <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px"
            class="rounded-circle" />
          <p class="fw-bold mb-1" style="margin-left:70px ;margin-top: -44px;">{{x.nomFormation}}</p>

     
        </td>
        <td>{{x.formateur.username }}
          <!--<p class="text-muted mb-0"></p>-->

        </td>
        <td>{{x.ddebut}}
          <!--<p class="text-muted mb-0"></p>-->

        </td>
        <td>
          <!-- <span class="badge badge-success rounded-pill d-inline">Active</span>-->
          {{x.dfin}}
        </td>
        <td>{{x.prix}}</td>
        <td>{{x.nbreHeures}}</td>
        <td>{{x.specialite}}</td>
        <td>{{x.certif}}</td>
        <td><button class="btn btn-dark  btn-rounded" [routerLink]="['/dashrh/updateFormation/',x.id]">Update</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>
<!-- MDB -->
