<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" class="app-sidenav" opened style="background-color:  #101634;width: 230px;">
        <mat-toolbar style="background-color:#101634; ">
            <div style="margin-left:140px; display: flex; color: #ffffff;margin-top: 5px;">
                <mat-icon style="margin-right:-70px; margin-top: 8px;">notifications_none</mat-icon>
                <div class="dropdown">
                    <button class="btn" style="color:white !important;" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Connecté en tant que <br> <i>{{email}}</i></a></li>
                        <li>
                            <hr>
                        </li>

                        <li>
                            <a style="text-decoration: none !important; margin-left: 12px  !important; color: black !important;"
                                [routerLink]="['/dashrh/Profile']" (click)="sidenav.toggle()">
                                <span class="title ml-4"><i class="far fa-user"></i> Profile</span>

                            </a>

                        </li>
                        <li>

                            <a style="text-decoration: none !important; margin-left: 12px  !important; color: black !important;"
                                [routerLink]="['/dashrh/Email']" (click)="sidenav.toggle()">
                                <span class="title ml-4"><i class="fas fa-inbox"></i> Email</span>

                            </a>


                        </li>

                        <li>
                            <hr>
                        </li>
                        <li>
                            <a style="text-decoration: none !important; margin-left: 12px  !important; color: black !important;"
                                (click)="sidenav.toggle()" (click)="Logout()">
                                <span class="title ml-4"><i class="fas fa-sign-out-alt"></i> Logout </span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <button style="margin-left: 20px; color: rgb(255, 255, 255);" mat-icon-button class="example-icon"
                (click)="sidenav.toggle()" [hidden]="!sidenav.opened" aria-label="Example icon-button with menu icon">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
        <div style="text-align: center; margin-top: 10px;">
            <label class="hoverable" for="fileInput">
                <img [src]="url">
                <div class="hover-text">Choose file</div>
                <div class="background"></div>
            </label>
            <br />
            <input id="fileInput" type='file' (change)="onSelectFile($event)">

        </div>

        <mat-nav-list style="margin-top: 50px;">

            <table border="0">
                <tr>
                    <div>
                        <i
                            style="padding-left: 20px !important; color:white !important; font-size: 120% !important;">{{username}}</i>
                    </div>
                </tr>
                <tr>
                    <div>
                        <i
                            style="padding-left: 20px !important; color:white !important; font-size: 120% !important;"><b>{{roles}}</b></i>
                    </div>
                </tr>
                <tr>
                    <div>
                        <hr
                            style="margin-left: 20px !important; color:white !important; padding-left: 20px !important; ">
                    </div>
                </tr>

                <tr>
                    <div>
                        <button mat-list-item type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample">
                            <span class="title ml-3" style="padding-left: -10px !important;" md-line
                                style="color:#ffffff;"><i class='fas fa-users-cog'></i> Ressources Humaines</span>
                        </button>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <button type="button" [routerLink]="['/dash/rh']" routerLinkActive="activeLi"
                                    class="btn btn-outline-danger mb-1">Liste de Ressource Humaine</button>
                                <button type="button" [routerLink]="['/dash/ajoutrh']" routerLinkActive="activeLi"
                                    class="btn btn-outline-danger">Ajout
                                    RH</button>

                            </div>
                        </div>
                    </div>
                </tr>



            </table>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar class="icon" id="appToolbar" style="background-color:  #ffffff;">
        <button mat-icon-button class="md-icon-button sidenav-toggle-button " (click)="sidenav.toggle() "
            [hidden]="sidenav.opened " aria-label="Example icon-button with menu icon ">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="toolbar-filler "></span>

    </mat-toolbar>

    <router-outlet></router-outlet>
    <footer class="footer text-center">
        <div class="container">

        </div>
    </footer>
</mat-sidenav-container>