<!-- Card -->
<div class="card" style="width: 250px; margin-top: 200px;margin-left: 90px; border-radius: 5%;">

  <!--Card image
  <div class="view overlay">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.webp"
      alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>-->

  <!--Card content-->
  <div class="card-body" >

    <!--Title-->
    <h4 class="card-title">Les etudiants</h4>
    <!--Text-->
    <p class="card-text" style="font-weight: bolder; font-size: 25px; margin-left: 80px;">70</p>
    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <p style="margin-top: 35px;">ici le nombre d'etudiants qui se'etudient au sein de ce centre </p>
    <button type="button" class="btn btn-primary" style="margin-top: 5px;  margin-left: 60px;">cliquer</button>

  </div>
  <div class="card-body" >

    <!--Title-->
    <h4 class="card-title">Les etudiants</h4>
    <!--Text-->
    <p class="card-text" style="font-weight: bolder; font-size: 25px; margin-left: 80px;">70</p>
    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <p style="margin-top: 35px;">ici le nombre d'etudiants qui se'etudient au sein de ce centre </p>
    <button type="button" class="btn btn-primary" style="margin-top: 5px;  margin-left: 60px;">cliquer</button>

  </div>

</div>
<!-- Card -->


