<mat-sidenav-container class="example-container"  >
    <mat-sidenav #sidenav mode="side" class="app-sidenav" opened style="background-color:  #832d2d;width: 230px;"  >
        <mat-toolbar style="background-color:#832d2d; ">
            <!--<button mat-icon-button class="example-icon" (click)="sidenav.toggle()" [hidden]="!sidenav.opened" aria-label="Example icon-button with menu icon">
    <mat-icon>close</mat-icon>
  </button>-->
  <div style="margin-left:140px; display: flex; color: #ffffff;margin-top: 5px;">
      <mat-icon style="margin-right:-70px;">notifications_none</mat-icon>
      <mat-icon style="margin-left:20px;">account_circle</mat-icon>
  </div>
  <button style="margin-left: 20px; color: rgb(255, 255, 255);" mat-icon-button class="example-icon" (click)="sidenav.toggle()" [hidden]="!sidenav.opened" aria-label="Example icon-button with menu icon">
          <mat-icon>close</mat-icon>
        </button>
        </mat-toolbar>
        <div style="text-align: center; margin-top: -10px;">
          <label class="hoverable" for="fileInput">
          <img [src]="url" > 
          <div class="hover-text">Choose file</div>
          <div class="background"></div>
        </label>
        <br/>
        <input id="fileInput" type='file' (change)="onSelectFile($event)">
          </div>
       <!-- <div style="text-align: center; margin-top: -10px;"><img id="i1" src="../assets/images/ant.png">
          <div >
  <p style="color: #ffffff;"> Ant centre </p>
  <small style="color: darkgray;" >antcentre@gmail.com</small></div>
        </div>-->
        <mat-nav-list   style="margin-top: 50px;" >
            <table border="0">
                <tr >
                    <div  style="padding: 20px !important;">
                        <a class="ico box" mat-list-item routerLink="./Rdv" [routerLink]="['/dashetud/profile']" routerLinkActive="activeLi" (click)="sidenav.toggle()">
                            <span class="title ml-4" style="padding-left: 10px !important;" md-line style="color:#ffffff;" >Profile</span>
  
                        </a>
                    </div>
                </tr>
                <tr>
                    <div style="padding: 20px !important;">
                        <a class="ico box" mat-list-item routerLink="MSeances"  routerLinkActive="activeLi" (click)="sidenav.toggle()">
                            <span class="title ml-3" style="padding-left: 10px !important;" md-line style="color:#ffffff;"> Mes cours</span>
  
                        </a>
                    </div>
                </tr>
             
            </table>
        </mat-nav-list>
    </mat-sidenav>
  
    <mat-toolbar class="icon" id="appToolbar"  style="background-color:  #ffffff;" >
        <button mat-icon-button class="md-icon-button sidenav-toggle-button " (click)="sidenav.toggle() " [hidden]="sidenav.opened " aria-label="Example icon-button with menu icon " >
      <mat-icon >menu</mat-icon>
    </button>
        <!--<h1 class="component-title ">
            <img src="../../assets/logo1.png" class="log" width="150">
        </h1>-->
        <span class="toolbar-filler "></span>
        <button (click)="Logout()" mat-button>Logout</button>
  
    </mat-toolbar>
  
    <router-outlet></router-outlet>
    <footer class="footer text-center">
        <div class="container">
           <!-- <span class="text-muted"> <b>Doctor </b> ©  2021.</span>-->
  
        </div>
    </footer>
  </mat-sidenav-container>
  